.imgBg1 {
    background-image: url(./assets/images/imgBg1.webp);
}
.imgBg2 {
    background-image: url(./assets/images/imgBg2.webp);
}
.imgBg3 {
    background-image: url(./assets/images/imgBg3.webp);
}
.imgBg4 {
    background-image: url(./assets/images/imgBg4.webp);
}

.imgBgMain {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    overflow: hidden;
}


